#home-section {
  background: url("../img/home3.jpg") no-repeat center top fixed;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: center;
}

#login-section {
  max-width: 600px;
}

#main-footer {
  opacity: 0.8;
  bottom: 0;
}

#footer-text * {
  display: inline;
}

.food-card {
  width: 600px;
  height: 300px;
  background: transparent no-repeat center;
  background-size: cover;
}

#results-body {
  background-image: url("../img/pattern@7x.png");
  background-color: #F9F9F9;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100vh;
  width: 100%;
}